# Environment and Python
.env
*.pyc
__pycache__/
.venv
*.egg-info
htmlcov/
.coverage

# Logs e arquivos temporários
logs/
run/
*.log
*.pid

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db